html{
	background-color: #949494;
}
.mainhead-content,body {
	max-width:1200px;
}
body {
	padding:0px 10px 0px 10px;
	margin:0px auto;
	font-family: geneva,arial;
	background-color: white;
	border: solid 1px black;
	position:relative;
}
.mainhead, footer {
	background-color: #371B1B;
	color:#fff;
}
.mainhead {
	position:relative;
	width:100%;
	z-index:2;
	left:0px;
	top:0px;
}
@media(min-width:1162px) {
	.mainhead {
		position:fixed;
	}
}
.dtoBannerFS {
	font-size: 48px;margin-left: 132px;vertical-align: top;line-height: 73px;
}
.dtoBannerSS {
	color: #366c2a;font-size: 55px;line-height: 85px;vertical-align: bottom;margin-left: 75px;display: inline-block;height: 24px;
}


.mainhead nav{
	display: inline-block;
    line-height: 92px;
    text-align: center;
    vertical-align: bottom;
    width: 80%;
}
.mainhead a {
	display:inline-block;
	min-width:170px;
	color:#fff;
}
@media(max-width:1161px) {
	.mainhead nav, .topmenulinks{
		text-align:left;
		margin-left:10px;
	}
	.dtoBannerFS, .dtoBannerSS {
	  font-size: 16px;
	  margin-left: 0px;
	  vertical-align: top;
	  line-height: 29px;
	}
	.dtoBannerSS {
		margin-bottom: 24px;
	}
}


.mainhead-content {
	margin:0 auto;
}

.logotext {
	color:#fff;
	width:150px;
	text-align:center;
	margin-top:10px;
	font-size: 30px;
}
.textsmall {
	font-size:27px;
}
.beta {
	font-size:12px;	
	margin-top:12px;
	color:#fff;
	margin-right:24px;
	width:12px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear {
	clear:both;
}
.content {
	margin-top:100px;
}
.hide {
	display:none;
}
/** spoiler */
.spoilerlink {
	text-decoration:none;
	border-bottom:blue 1px dashed;
}
.spoiler-decoration {
	background-color:#E6EEF7;
	border: 1px solid #CDD6DF;
	padding: 8px 10px;
	margin-top:10px;
}
/** end spoiler */

.good {
	background-color:#E8F7E6;
	border: 1px solid #D2DFCD;
	padding: 8px 10px;
	margin-top:10px;
}
.bad {
	background-color:#F7E6E6;
	border: 1px solid #DFCECD;
	padding: 8px 10px;
	margin-top:10px;
}
footer a {
	color:#fff;
}
footer {
	padding: 8px 10px;
}
.copyright-block {
	
}
.langlink {
	margin:30px 0 0 4px;
}
.langlink a {
	text-decoration:none;
}


/** sravni-osago  */
.osagobanner a {
	text-decoration:none;
}

.osagobanner_sber  section {
	background-color: #01964c;/*#0dd149 0f0e0e*/;
	color:white;
	text-align:center;
	font-size:22px;
	margin:6px 0px;
	padding:6px 0px;
}

.osagobanner_sber  section b{
  display:inline-block;
  line-height:48px;
  vertical-align:top;
  margin-left: 4px;
}

.osagobanner  section  {
	background-color:rgb(59, 62, 68);
	color:white;
	text-align:center;
	font-size:22px;
	margin:6px 0px;
	padding:6px 0px;
}
.sravni-green {
  background-color: #0dd149;
  max-width:320px;
  margin:auto;
  border-radius: 4px;
  height:48px;
  line-height: 48px;
}
.sravni-tcolor {
  color: #0dd149;
}
.block, .osagobanner_sber a {
  text-decoration: none;
}
.sravni-banner, .sravni-sub {
	margin-bottom:20px;
}
.sravni-sub {
  font-size:14px;
}
/** END sravni-osago  */


.h100 {
	height:100%;
}


.h70 {
	height:75%;
}

a {
  text-decoration: none;
}
.inline {
	display:inline!important;
}



/**
 * night
 * */
body.night, body.night textarea {
	background-color:#000;
	color:aqua;
}

body.night a{
	color:#FFF;
	font-weight:bold;
}
